@charset "UTF-8";
/* ブラウザから取得されるデフォルトのスタイルを使用しない */
/*** The new CSS reset - version 1.11.3 (last updated 25.8.2024) ***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

ol {
  counter-reset: revert;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

:where(pre) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: unset;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

/* デフォルト設定 */
p, h2, h3 {
  color: #333;
}

p {
  font-family: 游ゴシック medium, yu gothic medium, 游ゴシック, yu gothic, メイリオ, meiryo, ヒラギノ角ゴ pro, hiragino kaku gothic pro, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.p-footer {
  color: #fff;
  background-color: #091939;
  padding-block: clamp(15px, 3vw, 30px);
}
.p-footer small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-footer small img {
  margin-inline: 0.15em;
}

.l-section-inner {
  width: min(100%, 1260px);
  padding-inline: clamp(20px, 6vw, 60px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-inline: auto;
}

.l-inner--800 {
  width: min(100%, 800px);
  margin-inline: auto;
}
.l-inner--1100 {
  width: min(100%, 1100px);
  margin-inline: auto;
}

.c-btn {
  color: #fff;
  background-color: #4AC8E7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 30%;
  padding: 20px;
  margin-inline: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c-btn.--circle {
  color: #4AC8E7;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid #4AC8E7;
  padding: 10px 20px;
  width: clamp(250px, 5vw, 500px);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  border-radius: 9999px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c-btn:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.c-btn.--circle:hover {
  -webkit-filter: none;
          filter: none;
  color: #fff;
  background-color: #4AC8E7;
}

.c-head2 {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-size: clamp(18px, 3.2vw, 32px);
  margin-bottom: clamp(20px, 4vw, 40px);
  font-weight: bold;
}
.c-head2.--normal-case {
  text-transform: none;
}
.c-head2:after {
  content: "";
  width: clamp(30px, 6vw, 60px);
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: -0.5em;
  left: 0;
  right: 0;
  margin: auto;
}
.c-head2--ja {
  font-size: 16px;
  text-align: center;
  margin-bottom: clamp(30px, 6vw, 60px);
}

.c-head3 {
  font-size: clamp(16px, 2vw, 20px);
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝B", serif;
  font-weight: bold;
}

.c-variable-border {
  position: relative;
}

.c-variable-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #333;
  -webkit-transition: width 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: width 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.c-variable-border.is-active::before {
  width: 100%;
}

:root {
  --gothic: 游ゴシック medium, yu gothic medium, 游ゴシック, yu gothic, メイリオ, meiryo, ヒラギノ角ゴ pro, hiragino kaku gothic pro, sans-serif;
  --serif: YuMincho, "Yu Mincho", 游明朝, "Times New Roman",
    "Hiragino Mincho Pro", "ヒラギノ明朝 Pro W3",
    "Sawarabi Mincho", "ＭＳ Ｐ明朝", "MS PMincho",
    "MS 明朝", serif;
  --color-blue: #0086d3;
  --color-aqua-1: #e7ebf3;
  --color-aqua-2: #5ad4eb;
  --color-navy: #0272b2;
  --color-yellow: #fff100;
  --color-yellow2: #fcff00;
  --color-yellow3: #e4ba56;
  --color-red: #ff4e00;
  --color-black-1: #4c4c4c;
  --color-black-2: #453f41;
  --color-black-3: #252525;
  --color-cv-tel: #7eb6ff;
  --color-cv-web: #e67bbb;
  --color-cv-line: #48cb5e;
  --color-ocher: #a98945;
  --color-white: #ffffff;
}

.--gothic {
  font-family: 游ゴシック medium, yu gothic medium, 游ゴシック, yu gothic, メイリオ, meiryo, ヒラギノ角ゴ pro, hiragino kaku gothic pro, sans-serif !important;
}

.--mincho {
  font-family: YuMincho, "Yu Mincho", 游明朝, "Times New Roman", "Hiragino Mincho Pro", "ヒラギノ明朝 Pro W3", "Sawarabi Mincho", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif !important;
}

.u-mt0 {
  margin-top: 0 !important;
}

.u-mt5 {
  margin-top: min(5px, 0.6666666667vw) !important;
}

.u-mt10 {
  margin-top: min(10px, 1.3333333333vw) !important;
}

.u-mt15 {
  margin-top: min(15px, 2vw) !important;
}

.u-mt20 {
  margin-top: min(20px, 2.6666666667vw) !important;
}

.u-mt25 {
  margin-top: min(25px, 3.3333333333vw) !important;
}

.u-mt30 {
  margin-top: min(30px, 4vw) !important;
}

.u-mt35 {
  margin-top: min(35px, 4.6666666667vw) !important;
}

.u-mt40 {
  margin-top: min(40px, 5.3333333333vw) !important;
}

.u-mt45 {
  margin-top: min(45px, 6vw) !important;
}

.u-mt50 {
  margin-top: min(50px, 6.6666666667vw) !important;
}

.u-mt55 {
  margin-top: min(55px, 7.3333333333vw) !important;
}

.u-mt60 {
  margin-top: min(60px, 8vw) !important;
}

.u-mt65 {
  margin-top: min(65px, 8.6666666667vw) !important;
}

.u-mt70 {
  margin-top: min(70px, 9.3333333333vw) !important;
}

.u-mt75 {
  margin-top: min(75px, 10vw) !important;
}

.u-mt80 {
  margin-top: min(80px, 10.6666666667vw) !important;
}

.u-mt85 {
  margin-top: min(85px, 11.3333333333vw) !important;
}

.u-mt90 {
  margin-top: min(90px, 12vw) !important;
}

.u-mt95 {
  margin-top: min(95px, 12.6666666667vw) !important;
}

.u-mt100 {
  margin-top: min(100px, 13.3333333333vw) !important;
}

.u-mt105 {
  margin-top: min(105px, 14vw) !important;
}

.u-mt110 {
  margin-top: min(110px, 14.6666666667vw) !important;
}

.u-mt115 {
  margin-top: min(115px, 15.3333333333vw) !important;
}

.u-mt120 {
  margin-top: min(120px, 16vw) !important;
}

.u-mt125 {
  margin-top: min(125px, 16.6666666667vw) !important;
}

.u-mt130 {
  margin-top: min(130px, 17.3333333333vw) !important;
}

.u-mt135 {
  margin-top: min(135px, 18vw) !important;
}

.u-mt140 {
  margin-top: min(140px, 18.6666666667vw) !important;
}

.u-mt145 {
  margin-top: min(145px, 19.3333333333vw) !important;
}

.u-mt150 {
  margin-top: min(150px, 20vw) !important;
}

.u-mb0 {
  margin-bottom: 0 !important;
}

.u-mb5 {
  margin-bottom: min(5px, 0.6666666667vw) !important;
}

.u-mb10 {
  margin-bottom: min(10px, 1.3333333333vw) !important;
}

.u-mb15 {
  margin-bottom: min(15px, 2vw) !important;
}

.u-mb20 {
  margin-bottom: min(20px, 2.6666666667vw) !important;
}

.u-mb25 {
  margin-bottom: min(25px, 3.3333333333vw) !important;
}

.u-mb30 {
  margin-bottom: min(30px, 4vw) !important;
}

.u-mb35 {
  margin-bottom: min(35px, 4.6666666667vw) !important;
}

.u-mb40 {
  margin-bottom: min(40px, 5.3333333333vw) !important;
}

.u-mb45 {
  margin-bottom: min(45px, 6vw) !important;
}

.u-mb50 {
  margin-bottom: min(50px, 6.6666666667vw) !important;
}

.u-mb55 {
  margin-bottom: min(55px, 7.3333333333vw) !important;
}

.u-mb60 {
  margin-bottom: min(60px, 8vw) !important;
}

.u-mb65 {
  margin-bottom: min(65px, 8.6666666667vw) !important;
}

.u-mb70 {
  margin-bottom: min(70px, 9.3333333333vw) !important;
}

.u-mb75 {
  margin-bottom: min(75px, 10vw) !important;
}

.u-mb80 {
  margin-bottom: min(80px, 10.6666666667vw) !important;
}

.u-mb85 {
  margin-bottom: min(85px, 11.3333333333vw) !important;
}

.u-mb90 {
  margin-bottom: min(90px, 12vw) !important;
}

.u-mb95 {
  margin-bottom: min(95px, 12.6666666667vw) !important;
}

.u-mb100 {
  margin-bottom: min(100px, 13.3333333333vw) !important;
}

.u-mb105 {
  margin-bottom: min(105px, 14vw) !important;
}

.u-mb110 {
  margin-bottom: min(110px, 14.6666666667vw) !important;
}

.u-mb115 {
  margin-bottom: min(115px, 15.3333333333vw) !important;
}

.u-mb120 {
  margin-bottom: min(120px, 16vw) !important;
}

.u-mb125 {
  margin-bottom: min(125px, 16.6666666667vw) !important;
}

.u-mb130 {
  margin-bottom: min(130px, 17.3333333333vw) !important;
}

.u-mb135 {
  margin-bottom: min(135px, 18vw) !important;
}

.u-mb140 {
  margin-bottom: min(140px, 18.6666666667vw) !important;
}

.u-mb145 {
  margin-bottom: min(145px, 19.3333333333vw) !important;
}

.u-mb150 {
  margin-bottom: min(150px, 20vw) !important;
}

.u-ml0 {
  margin-left: 0 !important;
}

.u-ml5 {
  margin-left: min(5px, 0.6666666667vw) !important;
}

.u-ml10 {
  margin-left: min(10px, 1.3333333333vw) !important;
}

.u-ml15 {
  margin-left: min(15px, 2vw) !important;
}

.u-ml20 {
  margin-left: min(20px, 2.6666666667vw) !important;
}

.u-ml25 {
  margin-left: min(25px, 3.3333333333vw) !important;
}

.u-ml30 {
  margin-left: min(30px, 4vw) !important;
}

.u-ml35 {
  margin-left: min(35px, 4.6666666667vw) !important;
}

.u-ml40 {
  margin-left: min(40px, 5.3333333333vw) !important;
}

.u-ml45 {
  margin-left: min(45px, 6vw) !important;
}

.u-ml50 {
  margin-left: min(50px, 6.6666666667vw) !important;
}

.u-mr0 {
  margin-right: 0 !important;
}

.u-mr5 {
  margin-right: min(5px, 0.6666666667vw) !important;
}

.u-mr10 {
  margin-right: min(10px, 1.3333333333vw) !important;
}

.u-mr15 {
  margin-right: min(15px, 2vw) !important;
}

.u-mr20 {
  margin-right: min(20px, 2.6666666667vw) !important;
}

.u-mr25 {
  margin-right: min(25px, 3.3333333333vw) !important;
}

.u-mr30 {
  margin-right: min(30px, 4vw) !important;
}

.u-mr35 {
  margin-right: min(35px, 4.6666666667vw) !important;
}

.u-mr40 {
  margin-right: min(40px, 5.3333333333vw) !important;
}

.u-mr45 {
  margin-right: min(45px, 6vw) !important;
}

.u-mr50 {
  margin-right: min(50px, 6.6666666667vw) !important;
}

.u-pt0 {
  padding-top: 0 !important;
}

.u-pt5 {
  padding-top: min(5px, 0.6666666667vw) !important;
}

.u-pt10 {
  padding-top: min(10px, 1.3333333333vw) !important;
}

.u-pt15 {
  padding-top: min(15px, 2vw) !important;
}

.u-pt20 {
  padding-top: min(20px, 2.6666666667vw) !important;
}

.u-pt25 {
  padding-top: min(25px, 3.3333333333vw) !important;
}

.u-pt30 {
  padding-top: min(30px, 4vw) !important;
}

.u-pt35 {
  padding-top: min(35px, 4.6666666667vw) !important;
}

.u-pt40 {
  padding-top: min(40px, 5.3333333333vw) !important;
}

.u-pt45 {
  padding-top: min(45px, 6vw) !important;
}

.u-pt50 {
  padding-top: min(50px, 6.6666666667vw) !important;
}

.u-pt55 {
  padding-top: min(55px, 7.3333333333vw) !important;
}

.u-pt60 {
  padding-top: min(60px, 8vw) !important;
}

.u-pt65 {
  padding-top: min(65px, 8.6666666667vw) !important;
}

.u-pt70 {
  padding-top: min(70px, 9.3333333333vw) !important;
}

.u-pt75 {
  padding-top: min(75px, 10vw) !important;
}

.u-pt80 {
  padding-top: min(80px, 10.6666666667vw) !important;
}

.u-pt85 {
  padding-top: min(85px, 11.3333333333vw) !important;
}

.u-pt90 {
  padding-top: min(90px, 12vw) !important;
}

.u-pt95 {
  padding-top: min(95px, 12.6666666667vw) !important;
}

.u-pt100 {
  padding-top: min(100px, 13.3333333333vw) !important;
}

.u-pt105 {
  padding-top: min(105px, 14vw) !important;
}

.u-pt110 {
  padding-top: min(110px, 14.6666666667vw) !important;
}

.u-pt115 {
  padding-top: min(115px, 15.3333333333vw) !important;
}

.u-pt120 {
  padding-top: min(120px, 16vw) !important;
}

.u-pt125 {
  padding-top: min(125px, 16.6666666667vw) !important;
}

.u-pt130 {
  padding-top: min(130px, 17.3333333333vw) !important;
}

.u-pt135 {
  padding-top: min(135px, 18vw) !important;
}

.u-pt140 {
  padding-top: min(140px, 18.6666666667vw) !important;
}

.u-pt145 {
  padding-top: min(145px, 19.3333333333vw) !important;
}

.u-pt150 {
  padding-top: min(150px, 20vw) !important;
}

.u-pb0 {
  padding-bottom: 0 !important;
}

.u-pb5 {
  padding-bottom: min(5px, 0.6666666667vw) !important;
}

.u-pb10 {
  padding-bottom: min(10px, 1.3333333333vw) !important;
}

.u-pb15 {
  padding-bottom: min(15px, 2vw) !important;
}

.u-pb20 {
  padding-bottom: min(20px, 2.6666666667vw) !important;
}

.u-pb25 {
  padding-bottom: min(25px, 3.3333333333vw) !important;
}

.u-pb30 {
  padding-bottom: min(30px, 4vw) !important;
}

.u-pb35 {
  padding-bottom: min(35px, 4.6666666667vw) !important;
}

.u-pb40 {
  padding-bottom: min(40px, 5.3333333333vw) !important;
}

.u-pb45 {
  padding-bottom: min(45px, 6vw) !important;
}

.u-pb50 {
  padding-bottom: min(50px, 6.6666666667vw) !important;
}

.u-pb55 {
  padding-bottom: min(55px, 7.3333333333vw) !important;
}

.u-pb60 {
  padding-bottom: min(60px, 8vw) !important;
}

.u-pb65 {
  padding-bottom: min(65px, 8.6666666667vw) !important;
}

.u-pb70 {
  padding-bottom: min(70px, 9.3333333333vw) !important;
}

.u-pb75 {
  padding-bottom: min(75px, 10vw) !important;
}

.u-pb80 {
  padding-bottom: min(80px, 10.6666666667vw) !important;
}

.u-pb85 {
  padding-bottom: min(85px, 11.3333333333vw) !important;
}

.u-pb90 {
  padding-bottom: min(90px, 12vw) !important;
}

.u-pb95 {
  padding-bottom: min(95px, 12.6666666667vw) !important;
}

.u-pb100 {
  padding-bottom: min(100px, 13.3333333333vw) !important;
}

.u-pb105 {
  padding-bottom: min(105px, 14vw) !important;
}

.u-pb110 {
  padding-bottom: min(110px, 14.6666666667vw) !important;
}

.u-pb115 {
  padding-bottom: min(115px, 15.3333333333vw) !important;
}

.u-pb120 {
  padding-bottom: min(120px, 16vw) !important;
}

.u-pb125 {
  padding-bottom: min(125px, 16.6666666667vw) !important;
}

.u-pb130 {
  padding-bottom: min(130px, 17.3333333333vw) !important;
}

.u-pb135 {
  padding-bottom: min(135px, 18vw) !important;
}

.u-pb140 {
  padding-bottom: min(140px, 18.6666666667vw) !important;
}

.u-pb145 {
  padding-bottom: min(145px, 19.3333333333vw) !important;
}

.u-pb150 {
  padding-bottom: min(150px, 20vw) !important;
}

.u-pl0 {
  padding-left: 0 !important;
}

.u-pl5 {
  padding-left: min(5px, 0.6666666667vw) !important;
}

.u-pl10 {
  padding-left: min(10px, 1.3333333333vw) !important;
}

.u-pl15 {
  padding-left: min(15px, 2vw) !important;
}

.u-pl20 {
  padding-left: min(20px, 2.6666666667vw) !important;
}

.u-pl25 {
  padding-left: min(25px, 3.3333333333vw) !important;
}

.u-pl30 {
  padding-left: min(30px, 4vw) !important;
}

.u-pl35 {
  padding-left: min(35px, 4.6666666667vw) !important;
}

.u-pl40 {
  padding-left: min(40px, 5.3333333333vw) !important;
}

.u-pl45 {
  padding-left: min(45px, 6vw) !important;
}

.u-pl50 {
  padding-left: min(50px, 6.6666666667vw) !important;
}

.u-pr0 {
  padding-right: 0 !important;
}

.u-pr5 {
  padding-right: min(5px, 0.6666666667vw) !important;
}

.u-pr10 {
  padding-right: min(10px, 1.3333333333vw) !important;
}

.u-pr15 {
  padding-right: min(15px, 2vw) !important;
}

.u-pr20 {
  padding-right: min(20px, 2.6666666667vw) !important;
}

.u-pr25 {
  padding-right: min(25px, 3.3333333333vw) !important;
}

.u-pr30 {
  padding-right: min(30px, 4vw) !important;
}

.u-pr35 {
  padding-right: min(35px, 4.6666666667vw) !important;
}

.u-pr40 {
  padding-right: min(40px, 5.3333333333vw) !important;
}

.u-pr45 {
  padding-right: min(45px, 6vw) !important;
}

.u-pr50 {
  padding-right: min(50px, 6.6666666667vw) !important;
}

.u-fsz--15 {
  font-size: min(15px, 2vw) !important;
}

.u-fsz--16 {
  font-size: min(16px, 2.1333333333vw) !important;
}

.u-fsz--17 {
  font-size: min(17px, 2.2666666667vw) !important;
}

.u-fsz--18 {
  font-size: min(18px, 2.4vw) !important;
}

.u-fsz--19 {
  font-size: min(19px, 2.5333333333vw) !important;
}

.u-fsz--20 {
  font-size: min(20px, 2.6666666667vw) !important;
}

.u-fsz--21 {
  font-size: min(21px, 2.8vw) !important;
}

.u-fsz--22 {
  font-size: min(22px, 2.9333333333vw) !important;
}

.u-fsz--23 {
  font-size: min(23px, 3.0666666667vw) !important;
}

.u-fsz--24 {
  font-size: min(24px, 3.2vw) !important;
}

.u-fsz--25 {
  font-size: min(25px, 3.3333333333vw) !important;
}

.u-fsz--26 {
  font-size: min(26px, 3.4666666667vw) !important;
}

.u-fsz--27 {
  font-size: min(27px, 3.6vw) !important;
}

.u-fsz--28 {
  font-size: min(28px, 3.7333333333vw) !important;
}

.u-fsz--29 {
  font-size: min(29px, 3.8666666667vw) !important;
}

.u-fsz--30 {
  font-size: min(30px, 4vw) !important;
}

.u-fsz--31 {
  font-size: min(31px, 4.1333333333vw) !important;
}

.u-fsz--32 {
  font-size: min(32px, 4.2666666667vw) !important;
}

.u-fsz--33 {
  font-size: min(33px, 4.4vw) !important;
}

.u-fsz--34 {
  font-size: min(34px, 4.5333333333vw) !important;
}

.u-fsz--35 {
  font-size: min(35px, 4.6666666667vw) !important;
}

.u-fsz--36 {
  font-size: min(36px, 4.8vw) !important;
}

.u-fsz--37 {
  font-size: min(37px, 4.9333333333vw) !important;
}

.u-fsz--38 {
  font-size: min(38px, 5.0666666667vw) !important;
}

.u-fsz--39 {
  font-size: min(39px, 5.2vw) !important;
}

.u-fsz--40 {
  font-size: min(40px, 5.3333333333vw) !important;
}

.u-fsz--41 {
  font-size: min(41px, 5.4666666667vw) !important;
}

.u-fsz--42 {
  font-size: min(42px, 5.6vw) !important;
}

.u-fsz--43 {
  font-size: min(43px, 5.7333333333vw) !important;
}

.u-fsz--44 {
  font-size: min(44px, 5.8666666667vw) !important;
}

.u-fsz--45 {
  font-size: min(45px, 6vw) !important;
}

.u-fsz--46 {
  font-size: min(46px, 6.1333333333vw) !important;
}

.u-fsz--47 {
  font-size: min(47px, 6.2666666667vw) !important;
}

.u-fsz--48 {
  font-size: min(48px, 6.4vw) !important;
}

.u-fsz--49 {
  font-size: min(49px, 6.5333333333vw) !important;
}

.u-fsz--50 {
  font-size: min(50px, 6.6666666667vw) !important;
}

.u-fsz--51 {
  font-size: min(51px, 6.8vw) !important;
}

.u-fsz--52 {
  font-size: min(52px, 6.9333333333vw) !important;
}

.u-fsz--53 {
  font-size: min(53px, 7.0666666667vw) !important;
}

.u-fsz--54 {
  font-size: min(54px, 7.2vw) !important;
}

.u-fsz--55 {
  font-size: min(55px, 7.3333333333vw) !important;
}

.u-fsz--56 {
  font-size: min(56px, 7.4666666667vw) !important;
}

.u-fsz--57 {
  font-size: min(57px, 7.6vw) !important;
}

.u-fsz--58 {
  font-size: min(58px, 7.7333333333vw) !important;
}

.u-fsz--59 {
  font-size: min(59px, 7.8666666667vw) !important;
}

.u-fsz--60 {
  font-size: min(60px, 8vw) !important;
}

.u-lh--100 {
  line-height: 1 !important;
}

.u-lh--105 {
  line-height: 1.05 !important;
}

.u-lh--110 {
  line-height: 1.1 !important;
}

.u-lh--115 {
  line-height: 1.15 !important;
}

.u-lh--120 {
  line-height: 1.2 !important;
}

.u-lh--125 {
  line-height: 1.25 !important;
}

.u-lh--130 {
  line-height: 1.3 !important;
}

.u-lh--135 {
  line-height: 1.35 !important;
}

.u-lh--140 {
  line-height: 1.4 !important;
}

.u-lh--145 {
  line-height: 1.45 !important;
}

.u-lh--150 {
  line-height: 1.5 !important;
}

.u-lh--155 {
  line-height: 1.55 !important;
}

.u-lh--160 {
  line-height: 1.6 !important;
}

.u-lh--165 {
  line-height: 1.65 !important;
}

.u-lh--170 {
  line-height: 1.7 !important;
}

.u-lh--175 {
  line-height: 1.75 !important;
}

.u-lh--180 {
  line-height: 1.8 !important;
}

.u-lh--185 {
  line-height: 1.85 !important;
}

.u-lh--190 {
  line-height: 1.9 !important;
}

.u-lh--195 {
  line-height: 1.95 !important;
}

.u-lh--200 {
  line-height: 2 !important;
}

.u-normal {
  font-weight: normal !important;
}

.u-bold {
  font-weight: bold !important;
}

.u-color--blue {
  color: #0086d3 !important;
}

.u-color--aqua-1 {
  color: #e7ebf3 !important;
}

.u-color--aqua-2 {
  color: #5ad4eb !important;
}

.u-color--navy {
  color: #0272b2 !important;
}

.u-color--yellow {
  color: #fff100 !important;
}

.u-color--yellow2 {
  color: #fcff00 !important;
}

.u-color--yellow3 {
  color: #e4ba56 !important;
}

.u-color--red {
  color: #ff4e00 !important;
}

.u-color--black-1 {
  color: #4c4c4c !important;
}

.u-color--black-2 {
  color: #453f41 !important;
}

.u-color--black-3 {
  color: #252525 !important;
}

.u-color--cv-tel {
  color: #7eb6ff !important;
}

.u-color--cv-web {
  color: #e67bbb !important;
}

.u-color--cv-line {
  color: #48cb5e !important;
}

.u-color--ocher {
  color: #a98945 !important;
}

.u-color--white {
  color: #ffffff !important;
}

@media screen and (min-width:641px) {
  .pc_none {
    display: none !important;
  }
}
@media screen and (max-width:640px) {
  .sp_none {
    display: none !important;
  }
}
.u-left {
  text-align: left !important;
}

.u-center {
  text-align: center !important;
}

.u-right {
  text-align: right !important;
}

.u-gothic {
  font-family: var(--gothic) !important;
}

.u-serif {
  font-family: var(--serif) !important;
}

.u-block {
  display: block !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-inline {
  display: inline !important;
}

.u-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

/* fv */
.p-fv__image {
  background-image: url(../images/main_visual_sp.jpg);
  height: 100px;
}

/* 各セクションの上下余白 */
.p-about,
.p-service,
.p-blog,
.p-instagram {
  margin-block: clamp(60px, 12vw, 120px);
}

/* fv */
.p-fv {
  position: relative;
}

/* waves svg */
.p-fv__waves {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.waves {
  position: relative;
  display: block;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

/* wave animation */
.wave {
  -webkit-animation-name: move-forever;
          animation-name: move-forever;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0.5, 0.45, 0.5);
          animation-timing-function: cubic-bezier(0.55, 0.5, 0.45, 0.5);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.wave01 {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.wave02 {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.wave03 {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

.wave04 {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}
/* Waves end */
/* about */
.p-about {
  position: relative;
  padding-bottom: clamp(120px, 24vw, 240px);
  margin-bottom: 0;
  z-index: 1;
}
.p-about::after {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 100px;
  background-color: #999;
  border-radius: 10px;
  z-index: 2;
  bottom: 50px;
  left: 50%;
  -webkit-animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
          animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}
.p-about__head3 {
  margin-bottom: 30px;
}
.p-about__head3::before {
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}
.p-about__headtxt {
  background-color: #fff;
  padding-right: 20px;
  font-size: 24px;
}
@media (max-width: 767px) {
  .p-about__img {
    margin-inline: auto;
  }
}
.p-about__namewrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
}
@media (max-width: 7667px) {
  .p-about__namewrap {
    display: block;
  }
}
.p-about__name {
  font-size: 32px;
  line-height: 1.2;
}
.p-about__name--en {
  margin-left: 2em;
}

.p-about__cont {
  margin-top: clamp(30px, 6vw, 60px);
}
.p-about__cont-profile {
  width: 70%;
  -webkit-margin-start: 40px;
          margin-inline-start: 40px;
}
@media (max-width: 767px) {
  .p-about__cont-profile {
    width: 100%;
    -webkit-margin-start: 0;
            margin-inline-start: 0;
  }
}

.p-about__bottom-cont {
  margin-top: clamp(30px, 6vw, 60px);
}
.p-about__bottom-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .p-about__bottom-flex {
    display: block;
  }
}

.p-about__img {
  width: 344px;
  height: 344px;
}

/* work */
.p-work {
  position: relative;
  background-color: #f5f5f5;
  padding-block: clamp(30px, 6vw, 60px);
}
.p-work:before {
  content: "";
  position: absolute;
  top: -12.5vw;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 12.5vw 100vw;
  border-color: transparent transparent #f5f5f5 transparent;
  z-index: 1;
}
.p-work:after {
  content: "";
  position: absolute;
  bottom: -12.5vw;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 12.5vw 100vw;
  border-color: transparent transparent transparent #f5f5f5;
  z-index: 1;
}
.p-work__cont-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: clamp(30px, 6vw, 60px);
}
@media (max-width: 767px) {
  .p-work__cont-list {
    grid-template-columns: 1fr;
  }
}
.p-work__cont-link {
  color: #021893;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-block: clamp(10px, 2vw, 20px);
}
.p-work__cont-link:hover {
  color: #00abf4;
  text-decoration: underline;
}
.p-work__cont-txt {
  line-height: 1.8;
}

/* SERVICE */
.p-service {
  position: relative;
  padding-block: clamp(120px, 24vw, 240px) clamp(60px, 12vw, 120px);
  margin-block: 0;
  z-index: 1;
}
.p-service::before {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 100px;
  background-color: #999;
  border-radius: 10px;
  z-index: 2;
  top: 50px;
  left: 50%;
  -webkit-animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
          animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}
.p-service::after {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 100px;
  background-color: #999;
  border-radius: 10px;
  z-index: 2;
  bottom: -80px;
  left: 50%;
  -webkit-animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
          animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}

.p-service__cont-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: clamp(30px, 6vw, 60px);
}
@media (max-width: 767px) {
  .p-service__cont-list {
    grid-template-columns: 1fr;
  }
}

.p-service__num {
  font-size: 28px;
  font-weight: normal;
}

.p-service__num:after {
  content: "";
  display: inline-block;
  background-color: #dddddd;
  height: 2px;
  width: 48px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.p-service__text {
  position: relative;
  margin-top: 20px;
  padding-top: 30px;
}

/* BLOG */
.p-blog {
  position: relative;
  background-color: #f5f5f5;
  padding-block: clamp(30px, 6vw, 60px);
}
.p-blog::before {
  content: "";
  position: absolute;
  top: -12.5vw;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 12.5vw 100vw;
  border-color: transparent transparent #f5f5f5 transparent;
  z-index: 1;
}
.p-blog::after {
  content: "";
  position: absolute;
  bottom: -12.5vw;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 12.5vw 100vw;
  border-color: transparent transparent transparent #f5f5f5;
  z-index: 1;
}
.p-blog__cont-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: clamp(10px, 2vw, 20px);
}
@media (max-width: 767px) {
  .p-blog__cont-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.p-blog__cont-item {
  position: relative;
  -webkit-box-shadow: 3px 3px 15px -3px #dddddd;
          box-shadow: 3px 3px 15px -3px #dddddd;
}
.p-blog__cont-link img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
}
.p-blog__cont-link:hover img {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.p-blog__cont-img {
  overflow: hidden;
}
.p-blog__cont-cat {
  font-size: 12px;
  padding: 0.5em 1em;
  color: #fff;
  background-color: #4AC8E7;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.p-blog__cont-txtbox {
  background-color: #fff;
  padding: clamp(10px, 1.5vw, 15px);
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.p-blog__cont-txt {
  margin-top: 1em;
  font-size: clamp(12px, 1.4vw, 14px);
}
.p-blog__cont-time {
  margin-top: auto;
}
.p-blog__cont-time span {
  display: inline-block;
  margin-left: 5px;
}

/* Instagram */
.p-instagram {
  position: relative;
  margin-block: 240px;
  z-index: 2;
}
.p-instagram::before {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 100px;
  background-color: #999;
  border-radius: 10px;
  z-index: 2;
  top: -200px;
  left: 50%;
  -webkit-animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
          animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}
.p-instagram::after {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 100px;
  background-color: #999;
  border-radius: 10px;
  z-index: 2;
  bottom: -200px;
  left: 50%;
  -webkit-animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
          animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}

/* Contact */
.p-contact {
  position: relative;
  background-color: #f5f5f5;
  padding-block: clamp(60px, 12vw, 120px);
  z-index: 1;
}
.p-contact::before {
  content: "";
  position: absolute;
  top: -12.5vw;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 12.5vw 100vw;
  border-color: transparent transparent #f5f5f5 transparent;
  z-index: 1;
}
.p-contact__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.js-fade {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.js-fade.is-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@-webkit-keyframes scrolldown {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  75% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes scrolldown {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  75% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}/*# sourceMappingURL=common.css.map */