.c-btn {
  color: #fff;
  background-color: #4AC8E7;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  padding: 20px;
  margin-inline: auto;
  transition: all .3s;
}

.c-btn.--circle {
  color: #4AC8E7;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid #4AC8E7;
  padding: 10px 20px;
  width: clamp(250px, 5vw, 500px);
  transition: opacity 0.3s;
  border-radius: 9999px;
  transition: all .3s;
}
  
.c-btn:hover {
  filter: brightness(110%);
}

.c-btn.--circle:hover {
  filter: none;
  color: #fff;
  background-color: #4AC8E7;
}