.c-btn {
    color: #4AC8E7;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #4AC8E7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: clamp(250px, 5vw, 500px);
    transition: opacity 0.3s;
    border-radius: 9999px;
  }
  
  .c-btn:hover {
    color: #fff;
    background-color: #4AC8E7;
  }