.c-head2 {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    font-size: clamp(24px, 3.2vw, 32px);
    margin-bottom: clamp(20px, 4vw, 40px);
    font-weight: bold;
    &.--normal-case {
        text-transform: none;
    }
    &:after {
        content: '';
        width: clamp(30px, 6vw, 60px);
        height: 1px;
        background-color: #000;
        position: absolute;
        bottom: -0.5em;
        left: 0;
        right: 0;
        margin: auto;
        @media (max-width: 767px) {
            bottom: -5px;
        }
    }

    &--ja {
        font-size: clamp(14px, 1.8vw, 18px);
        text-align: center;
        margin-bottom: clamp(30px, 6vw, 60px);
    }
}

.c-head3 {
    font-size: clamp(16px, 2vw, 22px);
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3","Hiragino Mincho ProN", "HG明朝B", serif;
    font-weight: bold;
    line-height: 1;
    span {
        display: inline-block;
    }
}
