.c-head2 {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    font-size: clamp(18px, 2.4vw, 24px);
    margin-bottom: clamp(10px, 2vw, 20px);
    font-weight: bold;
    &.--normal-case {
        text-transform: none;
    }
    &:after {
        content: '';
        width: clamp(30px, 6vw, 60px);
        height: 2px;
        background-color: #000;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        margin: auto;
    }

    &--ja {
        text-align: center;
        margin-bottom: clamp(30px, 6vw, 60px);
    }
}

.c-head3 {
    font-size: clamp(16px, 2vw, 20px);
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3","Hiragino Mincho ProN", "HG明朝B", serif;
    font-weight: bold;
}
