.l-section-inner {
    width: min(100%, 1260px);
    padding-inline: 60px;
    box-sizing: border-box;
    margin-inline: auto;
    @media (max-width: 767px) {
        padding-inline: 20px;
    } 
}

.l-inner {
    &--800 {
        width: min(100% , 800px);
        margin-inline: auto;      
    }
    &--1100 {
        width: min(100% , 1100px);
        margin-inline: auto;
    }
}

.p-blog__achvs {
    .l-section-inner {
        @media (max-width: 767px) {
            padding-inline: 15px;
        }
    }
}

