.l-section-inner {
    width: min(100%, 1260px);
    padding-inline: clamp(20px, 6vw, 60px);
    box-sizing: border-box;
    margin-inline: auto;
}

.l-inner {
    &--800 {
        width: min(100% , 800px);
        margin-inline: auto;      
    }
    &--1100 {
        width: min(100% , 1100px);
        margin-inline: auto;
    }
}

