/* fv */
.p-fv__image {
    background-image: url(../images/main_visual_sp.jpg);
    height: 100px;
}

/* 各セクションの上下余白 */
.p-about,
.p-service,
.p-blog,
.p-instagram {
    margin-block: clamp(60px, 12vw, 120px);
}
/* fv */
.p-fv {
    position: relative;
}

/* waves svg */
.p-fv__waves {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.waves {
  position: relative;
  display: block;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

/* wave animation */

.wave {
  animation-name: move-forever;
  animation-timing-function: cubic-bezier(.55, .5, .45, .5);
  animation-iteration-count: infinite;
}

.wave01 {
  animation-delay: -2s;
  animation-duration: 7s;
}

.wave02 {
  animation-delay: -3s;
  animation-duration: 10s;
}

.wave03 {
  animation-delay: -4s;
  animation-duration: 13s;
}

.wave04 {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

/* Waves end */

/* about */
.p-about {
    position: relative;
    padding-bottom: clamp(120px, 24vw, 240px);
    margin-bottom: 0;
    z-index: 1;
    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 2px;
        height: 100px;
        background-color: #999;
        border-radius: 10px;
        z-index: 2;
        bottom: 50px;
        left: 50%;
        animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
    }
    &__head3 {
        margin-bottom: 30px;
        &::before {
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: -1;
        }
    }
    &__headtxt {
        background-color: #fff;
        padding-right: 20px;
        font-size: 24px;
    }
    &__img {
        @media (max-width: 767px) {
            margin-inline: auto;
        }
    }
    &__namewrap {
        display: flex;
        align-items: flex-end;
        margin-bottom: 30px;
        @media (max-width: 7667px) {
            display: block;
        }
    }
    &__name {
        font-size: 32px;
        line-height: 1.2;
    }
    &__name--en {
        margin-left: 2em;
    }
}
.p-about__cont {
    margin-top: clamp(30px, 6vw, 60px);
    &-profile {
        width: 70%;
        margin-inline-start: 40px;
        @media (max-width: 767px) {
            width: 100%;
            margin-inline-start: 0;
        }
    }
}

.p-about__bottom {
    &-cont {
        margin-top: clamp(30px, 6vw, 60px);
    }
    &-flex {
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
            display: block;
        }
    }
}

.p-about__img {
    width: 344px;
    height: 344px;
}

/* work */
.p-work {
    position: relative;
    background-color: #f5f5f5;
    padding-block: clamp(30px, 6vw, 60px);
    &:before {
        content: "";
        position: absolute;
        top: calc(100vw * -0.125);
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 calc(100vw * 0.125) 100vw;
        border-color: transparent transparent #f5f5f5 transparent;
        z-index: 1; 
    }
    &:after {
        content: "";
        position: absolute;
        bottom: calc(100vw * -0.125);
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 calc(100vw * 0.125) 100vw;
        border-color: transparent transparent transparent #f5f5f5;
        z-index: 1;     
    }
    &__cont {
        &-list {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: clamp(30px, 6vw, 60px);
            @media (max-width: 767px) {
                grid-template-columns: 1fr;
            }
        }
        &-item {

        }
        &-link {
            color: #021893;
            display: flex;
            justify-content: center;
            margin-block: clamp(10px, 2vw, 20px);
            &:hover {
                color: #00abf4;
                text-decoration: underline;
            }
        }
        &-txt {
            line-height: 1.8;
        }
    }
}

/* SERVICE */
.p-service {
    position: relative;
    padding-block: clamp(120px, 24vw, 240px) clamp(60px, 12vw, 120px);
    margin-block: 0;
    z-index: 1;
    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 2px;
        height: 100px;
        background-color: #999;
        border-radius: 10px;
        z-index: 2;
        top: 50px;
        left: 50%;
        animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
    }
    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 2px;
        height: 100px;
        background-color: #999;
        border-radius: 10px;
        z-index: 2;
        bottom: -80px;
        left: 50%;
        animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
    }
}
.p-service__cont-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: clamp(30px, 6vw, 60px);
    @media (max-width: 767px) {
        grid-template-columns: 1fr;
    }
}
.p-service__num {
    font-size: 28px;
    font-weight: normal;
}
.p-service__num:after {
    content: "";
    display: inline-block;
    background-color: #dddddd;
    height: 2px;
    width: 48px;
    transform: rotate(-45deg);
}
.p-service__text {
    position: relative;
    margin-top: 20px;
    padding-top: 30px;
}
  
/* BLOG */
.p-blog {
    position: relative;
    background-color: #f5f5f5;
    padding-block: clamp(30px, 6vw, 60px);
    &::before {
        content: "";
        position: absolute;
        top: calc(100vw * -0.125);
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 calc(100vw * 0.125) 100vw;
        border-color: transparent transparent #f5f5f5 transparent;
        z-index: 1;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: calc(100vw * -0.125);
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 calc(100vw * 0.125) 100vw;
        border-color: transparent transparent transparent #f5f5f5;
        z-index: 1;
    }
    &__cont-list {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: clamp(10px, 2vw, 20px);
        @media (max-width: 767px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
    &__cont-item {
        position: relative;
        box-shadow: 3px 3px 15px -3px #dddddd;
    }
    &__cont-link {
        img {
            transition: all .3s;
            display: block;
        }
        &:hover img {
            filter: brightness(110%);
            transform: scale(1.1);
        }
    }
    &__cont-img {
        overflow: hidden;
    }
    &__cont-cat {
        font-size: 12px;
        padding: 0.5em 1em;
        color: #fff;
        background-color: #4AC8E7;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    &__cont-txtbox {
        background-color: #fff;
        padding: clamp(10px, 1.5vw, 15px);
        min-height: 200px;
        display: flex;
        flex-direction: column;
    }
    &__cont-txt {
        margin-top: 1em;
        font-size: clamp(12px, 1.4vw, 14px);
    }
    &__cont-time {
        margin-top: auto;
        span {
            display: inline-block;
            margin-left: 5px;
        }
    }
}

/* Instagram */
.p-instagram {
    position: relative;
    margin-block: 240px;
    z-index: 2;
    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 2px;
        height: 100px;
        background-color: #999;
        border-radius: 10px;
        z-index: 2;
        top: -200px;
        left: 50%;
        animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
    }
    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 2px;
        height: 100px;
        background-color: #999;
        border-radius: 10px;
        z-index: 2;
        bottom: -200px;
        left: 50%;
        animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
    }
}
  
/* Contact */
.p-contact {
    position: relative;
    background-color: #f5f5f5;
    padding-block: clamp(60px, 12vw, 120px);
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        top: calc(100vw * -0.125);
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 calc(100vw * 0.125) 100vw;
        border-color: transparent transparent #f5f5f5 transparent;
        z-index: 1;
    }
    &__wrap {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}

// あとで個別ファイルに移動
.js-fade {
  opacity: 0;
  transform: translateY(30px);
  transition: .8s;
}

.js-fade.is-active {
  opacity: 1;
  transform: translateY(0);
}

// ボーダーアニメーション
@keyframes scrolldown {
    0%{
        transform-origin: top;
        transform: scaleY(0);
    }
    75% {
        transform-origin: top;
        transform: scaleY(1);
    }
    100%{
        transform-origin: bottom;
        transform: scaleY(1);
    }
}