.p-price {
    &__ttl {
        font-size: clamp(18px, 2.2vw, 22px);
        margin-block: clamp(20px, 4vw, 40px) 1em;
        border-left: 4px solid #333;
        padding-left: 0.5em;
        line-height: 1;
    }
    &__table {
        width: 100%;
        th {
            border: 1px solid #333;
            padding: clamp(10px, 2vw, 20px) 1em;
        }
        td {
            border: 1px solid #333;
            padding: clamp(10px, 2vw, 20px) 1em;
        }
    }
}